@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Sedgwick+Ave&family=Staatliches&display=swap');

/* Fonts for the website*/
body h1, h3 {
    font-family: Staatliches, sans-serif;
}
a {
    color: white;
    text-decoration: none;
}

nav span {
    font-family: Staatliches, sans-serif;
}

nav {
    height: 25px;
}

ul, button {
    font-family: Cairo, Helvetica;
}

footer {
    font-family: Cairo, Helvetica;
}

.reviews-background-image div p {
    font-family: Sedgwick Ave, Arial;
    font-size: x-large;
}

/* Style for title and header*/
.gym-header {
    background-color: #085394;
    color: white;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.gym-header span {
    margin-right: 40px;
    
}

/* Main body styling */

section {
    height: auto;
    background-color: white;
    max-width: 100%;
}

.right-container {
    height: auto;
    width: 33%;
    background-color: #eeeeee;
    float: right;
    text-align: center;
}

.center-container {
    height: auto;
    width: 33%;
    background-color: #eeeeee;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}

.left-container {
    height: auto;
    width: 33%;
    background-color: #eeeeee;
    float: left;
    text-align: center;
}

.join-now {
    text-align: center;
    background-color: #666666
}

button {
    background-color:#085394;
    color: white;
    padding: 10px;
    border-color: #085394;
    font-weight: bold;
}

button:hover {
    background-color: white;
    color: #085394
}

.image-left {
    width: 85%;    
    margin-top: 10px;
}

.image-right {
    width: 50%;    
}

.image-center {
    width: 80%;    
}

.reviews-background-image {
    width: 100%;
    height: 300px;
    background-image: url(../images/background-image3.jpeg);
    clear: both;
    background-size: cover;
}

.reviews-container-right {
    height: auto;
    width: 25%;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    color: silver;
}

.reviews-container-left {
    height: auto;
    width: 25%;
    float: left;
    margin-left: 20px;
    margin-top: 12px;
    color: silver;
}

.reviews-container-center {
    height: auto;
    width: 25%;
    margin: 0 auto;
    color: silver;
}

.nav-hover a:hover {
    background-color: white;
    color: #085394;
}

#active {
    border-bottom: 2px solid white;
}

/*classes page */

.exercise-containers {
    height: 100%;
    width: 24%;
    display: inline-block;
    margin: 5px 0px 0px 9px;
    vertical-align: top;
    background-color: #eeeeee;
}

video {
    width: 100%;
}

h3 {
    text-align: center;
}
.exercise-containers p {
    font-family: Cairo, Helvetica;
    text-align: center;
}
/*Footer styling */

.copyright {
    background: #666666;
    color: white;
    text-align: right;
}

.contact-details {
    background-color: #333333;
    color: white;
    text-align: center;
}

.contact {
    padding: 10px;
}

.social {
    display: inline-block;
    margin: 10px 50px 10px 50px;
    font-size: x-large;
}

/* Media Query for responsiveness in the webpage */

/* For tablet */

@media screen and (max-width: 1200px) {
    section {
        width: 75%;
        height: auto;
    }
}