@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Staatliches&display=swap');

/* Fonts for the website*/
body h1, h3 {
    font-family: Staatliches, sans-serif;
}

#gym-info ul {
    font-family: Cairo;
}

nav span {
    font-family: Staatliches;
}

nav {
    height: 25px;
}

/* Style for title and header*/
.gym-header {
    background-color: #085394;
    color: white;
    text-align: center;
}

.gym-header span {
    margin-right: 40px;
    
}

/* Main body styling */

#gym-info {
    height: auto;
}

#heading-block {
    width: 100%;
}

#left-sub {
    display: inline-block;
    width: 33%;
    text-align: center;
}

#center-sub {
    display: inline-block;
    width: 33%;
    text-align: center;
}

#right-sub {
    display: inline-block;
    width: 20%;
    text-align: center;
}

#description-container {
    height: 300px;
}
#description-left {
    height: auto;
    background-color: #EEEEEE;
    width: 33%;
    float: right;
}

#description-center {
    height: auto;
    background-color: #EEEEEE;
    width: 33%;
    float: left;
}

#description-right { 
    height: auto;
    background-color: #EEEEEE;
    width: 33%;
    margin: 0 auto;
}

#join {
    text-align: center;
}

#join-button {
    margin-bottom: 10px;
}
/*Footer styling */

.footer-block {
    background-color: #085394;
    height: 50px;
    max-width: 100%;
}

#image-container img {
    height: 200px;
    width: 30%;
}

#left-image {
    margin-right: 10px;
}

#center-image {
    margin: 0 25px 0 25px;
}

#right-image {
    margin-left: 25px;
}
