@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Staatliches&display=swap');

/* Fonts for the website*/
body h1, h3 {
    font-family: Staatliches, sans-serif;
}

nav span {
    font-family: Staatliches;
}

nav {
    height: 25px;
}

footer {
    font-family: Cairo;
}

/* Style for title and header*/
.gym-header {
    background-color: #085394;
    color: white;
    text-align: center;
}

.gym-header span {
    margin-right: 40px;
    
}

/* Main body styling */

section {
    height: 500px;
    background-color: white;
    max-width: 100%;
}

.right-container {
    height: auto;
    width: 33%;
    background-color: #eeeeee;
    float: right;
    text-align: center;
}

.center-container {
    height: auto;
    width: 33%;
    background-color: #eeeeee;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}

.left-container {
    height: auto;
    width: 33%;
    background-color: #eeeeee;
    float: left;
    text-align: center;
}

.join-button {
    float: left;
}

.image-style {
    width: 50%;    
}

/*Footer styling */

#copyright {
    background: #666666;
    color: white;
    text-align: right;
}

.contact-details {
    background-color: #333333;
    color: white;
    text-align: center;
}

.contact {
    padding: 10px;
}
.social {
    display: inline-block;
    margin: 10px 50px 10px 50px;
}